# Created by .ignore support plugin (hsz.mobi)

.gitignore
node_modules
.idea/inspectionProfiles/
/npm-debug.log
/ios/build/
ios/app.xcodeproj/project.xcworkspace/xcuserdata/
ios/app.xcodeproj/xcuserdata/
ios/build/Build/Intermediates/AirMaps.build/Debug-iphonesimulator/AirMaps.build/dgph
ios/build/Logs/