# OSX
#
.DS_Store

# Xcode
#
build/
xcuserdata
*.xccheckout
DerivedData
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
